
<!DOCTYPE>
<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: powderblue;}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
  text-align:center;
}
p {
  color: red;
  font-family: verdana;
  font-size: 240%;
  text-align:center;
}
div {
  color: black;
  font-family: verdana;
  font-size: 130%;
  text-align:center;
}
button {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
</style>
</head>
<body>

{%block content %}
    <div class="tab">{{tx}}
    </div>
    {% endblock %}
<form action="hi" method="post">
  {% csrf_token%}
  <p><BUTTON name="p" value="{{p}}">Return to home page</BUTTON></p></form>
</body>
</html>